<div class="cart-item">
  <h3>{{ product.name }}</h3>
  <img src="{{ product.url }}" class="product-image" />
  <p class="price">{{ product.price.toFixed(1) }} EHP each</p>
  <div class="select-input">
    <label for="quantity">Quantity:</label>
    <input
      class="quantitySelector"
      type="number"
      id="quantity"
      name="quantity"
      value="{{ product.quantity }}"
      min="0"
      max="10"
      #quantity
      (input)="updateProductQuantity(quantity.value)"
    />
  </div>
  <p class="price">
    {{ (product.price * product.quantity).toFixed(1) }} EHP total
  </p>
  <button (click)="removeProductFromCart.emit(product)">
    Remove from Cart
  </button>
</div>
